body{
    font-family: 'Montserrat', sans-serif;
}
.show{
    display:inline-flexbox;
}
.hidden{
    display:none;
}

form {
    display: flex;
    flex-direction: column;
    background-color: white;
    margin: 0 auto;
    padding: 2%;
    width: 50%;
}

form .field-group {
    display: flex;
}

form input {
    width: 100%;
}

fieldset {
    width: 100%;
}

fieldset + fieldset {
    margin-left: 2vw;
}